#general:
*.swp
*.o
*.so
*.a

#from Eclipse
.project
.cproject

#from cmake
CMakeCache.txt
CMakeFiles/
Makefile
cbuild/
cmake_install.cmake
*Dict.h
*Dict.cxx
Documentation/ReferenceGuide/Doxyfile
Source/Main/ExtractEvents
Source/Main/SimpleElectronHunt
install_manifest.txt
