[submodule "Source/Time/Monarch"]
	path = Source/Time/Monarch
	url = https://github.com/project8/monarch.git
[submodule "Nymph"]
	path = Nymph
	url = https://github.com/project8/nymph
[submodule "Cicada"]
	path = Cicada
	url = https://github.com/project8/cicada
