
name: Test and Publish

on:
  pull_request:
  push:
    branches: [main, develop]
    tags: ['*']
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:

  docker-build-and-publish:

    name: Build and push the docker images

    strategy:
      matrix:
        build: [Dev, Prod]
        include:
          - build: Dev
            tag-suffix: '-dev'
            build-type: Debug
            build-tests: true
          - build: Prod
            tag-suffix: ''
            build-type: Release
            build-tests: false

    runs-on: ubuntu-latest
    steps:
    
      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          submodules: recursive
          
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          flavor: |
            latest=auto
            suffix=${{ matrix.tag-suffix }},onlatest=true
          tags: |
            type=semver,pattern={{raw}}
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

      - uses: little-core-labs/get-git-tag@v3.0.2
        id: tag_name

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        
      - name: Set up Docker Buildx
        id: setup_buildx
        uses: docker/setup-buildx-action@v1
        with:
          buildkitd-flags: --debug

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        id: build
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ${{ matrix.build }}/Dockerfile
          # We want to publish the following:
          #  1. Prod and Dev builds of pushes of each tag
          #  2. Dev build of pushes to develop
          #  3. "latest" == (1)
          push: ${{ github.event_name == 'push' && ( contains(github.ref, 'refs/tags/') || github.ref == 'refs/heads/develop' ) }}
          build-args: |
            img_repo=ghcr.io/project8/luna_base
            img_tag=v1.3.0-alpha.1-dev
            img_repo=ghcr.io/project8/luna_base
            img_tag=v1.3.0-alpha.1${{ matrix.tag-suffix }}
            katydid_tag=${{ steps.tag_name.outputs.tag }}
            build_type=${{ matrix.build-type }}
            build_tests_exe=${{ matrix.build-tests }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          platforms: linux/amd64
